<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AppScraper</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300" rel="stylesheet" />
    <link rel="stylesheet" href="/ui.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1><a href="/">AppScraper</a></h1>
      </div>
      <div class="btnBox">
        <div class="score">
          <label for="score1" class="checked"
            ><input id="score1" type="checkbox" name="score" checked="checked" value="1" />평점
            1</label
          >
          <label for="score2"
            ><input id="score2" type="checkbox" name="score" value="2" />평점 2</label
          >
          <label for="score3"
            ><input id="score3" type="checkbox" name="score" value="3" />평점 3</label
          >
          <label for="score4"
            ><input id="score4" type="checkbox" name="score" value="4" />평점 4</label
          >
          <label for="score5"
            ><input id="score5" type="checkbox" name="score" value="5" />평점 5</label
          >
        </div>
        <div class="date">
          <label for="date1" class="checked"
            ><input id="date1" type="radio" name="date" checked="checked" value="7" />7 일</label
          >
          <label for="date2"><input id="date2" type="radio" name="date" value="15" />15 일</label>
          <label for="date3"><input id="date3" type="radio" name="date" value="30" />30 일</label>
          <label for="date4"><input id="date4" type="radio" name="date" value="90" />90 일</label>
          <label for="date5"><input id="date5" type="radio" name="date" value="180" />180 일</label>
        </div>
      </div>
      <div class="reviewsWrap">
        <div>
          <h2>
            <img src="/images/logo-android.png" alt="android" />
            <span>ANDROID</span>
            <span class="etc-box">
              <span>version : <span class="version"></span></span>
              <span>total : <span class="total"></span></span>
            </span>
          </h2>
          <div>
            <ul class="reviews android"></ul>
          </div>
        </div>
        <div>
          <h2>
            <img src="/images/logo-apple.png" alt="apple" />
            <span>IOS</span>
            <span class="etc-box">
              <span>version : <span class="version"></span></span>
              <span>total : <span class="total"></span></span>
            </span>
          </h2>
          <div>
            <ul class="reviews ios"></ul>
          </div>
        </div>
      </div>
    </div>

    <script src="/jquery-2.2.0.min.js"></script>
    <script src="/ui.js"></script>
  </body>
</html>
