extends layout.pug

block contents
  div(id='sitesWrap')
    ul
      if list
        -for (var i=0, len = list.length; i < len; i++)
          li
            a(href='/'+list[i].name+'#/7/1' title=list[i].name+' 리뷰 보러가기')
              img(src=list[i].image alt=list[i].name)
      else
        li(class='emptySites') 스크랩된 리스트가 없습니다.
