extends layout.pug

block contents
  div(id='sitesWrap')
    ul
      -for (var i=0, len = list.length; i < len; i++)
        li
          a(href='/'+list[i].name title=list[i].name+' 리뷰 보러가기')
            img(src=list[i].image alt=list[i].name)
