@charset "utf-8";

/******************************************************************************
***  reset
******************************************************************************/
html,
body {
  -webkit-text-size-adjust: none;
}
body {
  font: 12px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #333;
  line-height: 1;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
p,
form,
fieldset,
input,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}
ol,
ul {
  list-style: none;
}
fieldset,
img {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link,
a:visited,
a:active {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #000;
}

/* input-style */
input.checkbox {
  width: 13px;
  height: 13px;
  vertical-align: top;
}
* html input {
  margin: -1px 0;
}
*:first-child + html input {
  margin: -1px 0;
}

/* clear */
.clear:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
}
.clear {
  *zoom: 1;
}

/* html5 */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
mark {
  display: block;
}

/* blind */
caption,
legend,
.blind {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  z-index: -1;
}

/******************************************************************************
***  ui
******************************************************************************/

html,
body {
  height: 100%;
  overflow: hidden;
}

#wrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wrap {
  height: 100%;
  padding: 20px;
  background-color: #eee;
}

.btnBox {
  font-size: 16px;
  color: #fff;
  background-color: #333;
  padding: 30px 20px;
  display: flex;
}

.btnBox > div {
  flex: 1 1 auto;
  display: flex;
}

.btnBox > div label {
  width: 100px;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  margin: 0 3px;
  flex: 1 1 auto;
}

.btnBox > div:nth-child(1) label {
  color: #333;
  background-color: #fff;
}

.btnBox > div:nth-child(2) label {
  background-color: #26a69a;
}

.btnBox > div:nth-child(1) label.checked {
  background-color: #ccc;
}

.btnBox > div:nth-child(2) label.checked {
  background-color: #16756c;
}

.btnBox > div input {
  width: 0;
  height: 0;
  visibility: hidden;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  /*border-top: 3px solid #000;*/
  padding: 15px 0 10px 5px;
}

h2 > img {
  width: 50px;
  margin: 0 0 5px 0;
  vertical-align: middle;
  display: inline-block;
}

ul {
  margin-bottom: 30px;
  font-size: 15px;
}

ul.reviews > li {
  margin-top: 10px;
}

ul.reviews > li > span {
  font-weight: 600;
}

ul.reviews > li {
  padding: 30px 30px 20px 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: default;
}

ul.reviews > li:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.19), 0 4px 6px rgba(0, 0, 0, 0.23);
}

ul.reviews > li ul {
  margin-bottom: 0;
}

ul.reviews > li.not-exists {
  text-align: center;
  padding-bottom: 30px;
}

ul.reviews.android > li {
  border-left: 15px solid #6fbf5c;
}

ul.reviews.ios > li {
  border-left: 15px solid #222;
}

.reviewsWrap {
  height: 100%;
  font-size: 0;
  padding: 0 0 268px 0;
  display: flex;
}

.reviewsWrap h2 .etc-box {
  margin-left: 10px;
  font-weight: 400;
}

.reviewsWrap h2 .etc-box > span {
  margin-left: 10px;
}

.reviewsWrap > div {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  flex: 1 1 auto;
}

.reviewsWrap > div > div {
  height: 100%;
  padding: 10px 10px 25px;
  overflow: auto;
}

.reviewsWrap > div:first-of-type {
  margin: 0 5px 0 0;
}

.reviewsWrap > div:last-of-type {
  margin: 0 0 0 5px;
}

._review {
  position: relative;
  padding: 5px 0 20px 0;
  text-align: right;
}

._review ._subject {
  font-size: 16px;
  font-weight: bold;
  color: #111;
  padding: 3px 0 15px 0;
  text-align: left;
}

._review ._content {
  padding: 0 0 20px 0;
  line-height: 1.5em;
  text-align: left;
}

._review ._info {
  font-size: 13px;
  padding: 15px 0;
  background-color: #eef2f5;
  display: inline-block;
}
._review ._info li {
  border-right: 1px solid #d8dfe7;
  padding: 0 25px;
  display: inline-block;
}

._review ._info li:last-of-type {
  border-right: 0;
}

._review ._info img {
  vertical-align: middle;
}

._review ._info ._user > img {
  width: 35px;
  border-radius: 25px;
}

._review ._info ._rate > img {
  width: 30px;
}

._review ._info ._user > span,
._review ._info ._date > span {
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}

._review ._info ._rate > span {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
  vertical-align: middle;
}

._review ._info ._date > span {
  font-size: 14px;
  font-weight: normal;
}

._review ._info span {
  margin: 0 0 0 6px;
}

._comment {
  padding: 15px;
  background-color: #eef2f5;
}

._comment ._icon {
  position: relative;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #fff;
}

._comment ._icon > img {
  width: 30px;
}

._comment ._icon > span {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 14px;
  transform: translateY(-50%);
}

._comment ._content {
  font-size: 14px;
  line-height: 1.5em;
}

button._more {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  border: 0;
  padding: 10px 0 13px 0;
  cursor: pointer;
  font-size: 16px;
}
